<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Prediction Result</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/display.css') }}">
</head>
<body>
    <div class="barre-gauche"></div>
    <div class="barre-bas"></div>
    <h1 class="titre">Result of Image Prediction</h1>
    <div>
        <h2 class="prediction-item">Predicted Class:  {{predicted_class}}   </h2>
        <img src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Uploaded Image">
    </div>
    <a href="/" class="upload-link">Upload another image</a>

    
</body>
</html>