<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload2.css') }}">
</head>
<body>
    <div class="barre-gauche"></div>
    <div class="barre-bas"></div>
    <div class="container">
    <img class="img1" src="{{ url_for('static', filename='images/malware (2).png') }}">
    <h1>Telechargement de votre fichier</h1>
    <form action="{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Telecharger</button>
    </form>
    </div>
    
</body>
</html>